<div ng-controller="AuthController as auth">
  <form ng-submit="auth.register()">
    <input type="text" ng-model="auth.credentials.name" placeholder="Nome" required>
    <input type="email" ng-model="auth.credentials.email" placeholder="Email" required>
    <input type="password" ng-model="auth.credentials.password" placeholder="Senha" required>
    <input type="password" ng-model="auth.credentials.password_confirmation" placeholder="Confirme sua senha" required>
    <button type="submit">Registrar</button>
    <p ng-if="auth.error">{{auth.error}}</p>
  </form>
</div>
